.left-border {
    border-left: 5px solid orange;
    /* border: ; */
}

.text-left {
    text-align: left !important;
}

.project-info {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}