.left-border {
    border-left: 5px solid orange;
    /* border: ; */
}

.text-left {
    text-align: left !important;
}

.project-info {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.project-title {
    color: orangered;
    font-weight: 700;
}

.project-img {

    margin: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 4px double green;
}