.site-title {
    font-size: 24px;
    font-weight: 700;
    color: orange;
}

.site-title:hover {
    font-weight: 700;
    color: whitesmoke;
}


.header-links:hover {
    color: orange !important;
}



/* ---------- for mobile- -------------- max-width: 768px------ */

@media screen and (max-width: 768px) {

    .site-title {
        font-size: 18px;
        font-weight: 600;
    }

}



/* ---------- for tablet- -------------- max-width: 991px------ */

@media screen and (min-width: 769px) and (max-width: 991px) {

    .site-title {
        font-size: 21px;
        font-weight: 700;
    }

}